/*dark: #727070,
dark-lighten: #9c9c9c,
dark-light: #646464,
dark-grey: #a9a7a7,
dark-dark: #7b7979,
//
white-light: #fbfbfb,
white-dark: #f7f6f6,
white-lighten: #f0f0f0,
//
pink-light: #f2e7d0,
//
grey-hover: #e4e3e3,
grey-hover-dark: #bebdbd,
gray-light-extra: #eae9e9,
gray-menu: #727070,
light-gray: #737373,
grey-extra-light: #d6d5d3,
grey-title: #eeedec,
grey-bg: #f1f0ef,
grey-img-inner: #f5f4f3,
grey-img-wrap: #cdcbca,
grey-skill: #e0e0e0,
grey-enter: #9c9c9c,
grey-copy: #ededed,
gray-work: #bebebe,
gray-bg-work: #f2f2f2,
grey-work-bg: #f6f5f4,
brown-light: #ddce9b,
brown-lighten: #f4ce82,
brown-darken: #dfb866,
brown-dark: #e7bf6f,
brown-darken-dark: #cfa44f,
brown-menu: #d0982c,
brown-extra-dark: #cfa44f,
//
green-hover-light: #7de8cd,
green-hover-dark: #3fb79a,
green-dark: #3da98e,
green-light: #66dbbe,
green-darken: #1e7465,
green-skill: #1e7465,*/
.mac {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mac input, .mac textarea, .mac button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
button:focus,
a:focus {
  outline: 0;
}

.btn {
  text-decoration: none;
}

.btn {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.shown {
  display: block !important;
}

.row:before, .slider__inner:before, .foter-links__list:before, .row:after, .slider__inner:after, .foter-links__list:after {
  content: "";
  display: table;
}
.row:after, .slider__inner:after, .foter-links__list:after {
  clear: both;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
.title-main {
  font-family: "open_sansbold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 20px;
  line-height: 22px;
  color: #333333;
}

.btn {
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
  font-family: "open_sansbold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #fff;
  background: #ff6600;
}
.btn:hover {
  background: #ff7e29;
}

.browsehappy {
  margin: 0;
  padding: 0;
  background: #ffe0cc;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
}

html,
body {
  min-width: 1120px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  position: relative;
}

body {
  padding-bottom: 225px;
}

.page-header__inner, .page-footer__inner, .navigation__inner, .content__inner, .copy__inner {
  width: 1100px;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 35px;
  padding-bottom: 0px;
  height: 190px;
}

.col {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

.small-col {
  float: left;
  width: 333px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.big-col {
  float: right;
  width: 743px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-header {
  background: #fff;
}

.page-header__top {
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: 2px solid #dee1e4;
}

.page-header__socials-wrapper {
  float: left;
  width: 300px;
}

.page-header__contacts-wrapper {
  float: right;
  width: 474px;
}

.page-header__bottom {
  background: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 28px;
}

.page-header__logo-wrapper,
.page-header__search-wrapper,
.page-header__links-wrapper {
  float: left;
}

.page-header__logo-wrapper {
  width: 295px;
}

.page-header__search-wrapper {
  width: 367px;
}

.page-header__links-wrapper {
  box-sizing: border-box;
  width: 438px;
  padding-left: 49px;
  padding-top: 7px;
}

.page-footer {
  background: url("../img/bg-footer.jpg") repeat-x;
}

.page-footer__logo-wrapper {
  padding-top: 37px;
}

.page-footer__social-wrapper {
  float: right;
  margin-bottom: 30px;
}

.page-footer__foter-links-wrapper {
  margin-bottom: 28px;
}

.socials {
  font-size: 0;
}

.socials__list {
  margin: 0;
  padding: 0;
}

.socials__item {
  display: inline-block;
  margin-left: 15px;
  list-style-type: none;
}
.socials__item:first-child {
  margin-left: 0;
}

.socials__link {
  display: block;
  font-size: 14px;
  text-decoration: none;
  text-indent: -9999px;
}

.socials__link--vk {
  background: url('../img/icons-sc5e9180caf.png') 0 -2113px no-repeat;
  height: 26px;
  width: 26px;
}

.socials__link--vk:hover {
  background: url('../img/icons-sc5e9180caf.png') 0 -2017px no-repeat;
  height: 26px;
  width: 26px;
}

.socials__link--tw {
  background: url('../img/icons-sc5e9180caf.png') 0 -1695px no-repeat;
  height: 26px;
  width: 26px;
}

.socials__link--tw:hover {
  background: url('../img/icons-sc5e9180caf.png') 0 -1599px no-repeat;
  height: 26px;
  width: 26px;
}

.socials__link--fb {
  background: url('../img/icons-sc5e9180caf.png') 0 -182px no-repeat;
  height: 26px;
  width: 26px;
}

.socials__link--fb:hover {
  background: url('../img/icons-sc5e9180caf.png') 0 -86px no-repeat;
  height: 26px;
  width: 26px;
}

.contacts {
  padding-left: 30px;
}

.contacts__list {
  margin: 0;
  padding: 0;
}

.contacts__item {
  position: relative;
  display: inline-block;
  margin-left: 106px;
  list-style-type: none;
}
.contacts__item:first-child {
  margin-left: 0;
}
.contacts__item:before {
  position: absolute;
  content: '';
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contacts__item--address {
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 26px;
}

.contacts__item--tel {
  font-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 26px;
}

.contacts__item--address:before {
  background: url('../img/icons-sc5e9180caf.png') 0 0 no-repeat;
  height: 16px;
  width: 12px;
}

.contacts__item--tel:before {
  background: url('../img/icons-sc5e9180caf.png') 0 -1513px no-repeat;
  height: 16px;
  width: 12px;
}

.logo {
  width: 238px;
  height: 36px;
}

.logo__link {
  text-decoration: none;
}

.logo__img {
  width: 100%;
  height: 100%;
}

.search {
  font-size: 0;
}

.search__input {
  display: inline-block;
}

.search__search {
  width: 255px;
  box-sizing: border-box;
  padding: 6px 15px;
  border: 1px solid #dee1e4;
  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: "open_sanslight", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #7f7f7f;
}

.search__submit {
  padding: 5px 14px 5px 15px;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 16px;
  color: #fff;
  background: #ff6600;
}

.links {
  font-size: 0;
}

.links__list {
  margin: 0;
  padding: 0;
}

.links__item {
  display: inline-block;
  margin-left: 33px;
  list-style-type: none;
}
.links__item:first-child {
  margin-left: 0;
}
.links__item:hover a {
  color: #ff6600;
  border-bottom: 1px solid #ff6600;
}

.links__link {
  display: block;
  border-bottom: 1px solid #333333;
  font-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 16px;
  line-height: 17px;
  color: #333333;
  text-decoration: none;
}

.navigation {
  font-size: 0;
  border-bottom: 2px solid #dee1e4;
  background: #fff;
}

.navigation__list {
  margin: 0;
  padding: 0;
}

.navigation__item {
  list-style-type: none;
  display: inline-block;
}

.navigation__link {
  display: block;
  padding: 17px 16px 17px 15px;
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #333333;
  text-decoration: none;
}
.navigation__link:hover {
  background: #e4e2e2;
}

.navigation__link--active {
  font-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
  background: #ff6e35;
  color: #fff;
}
.navigation__link--active:hover {
  background: #ff6e35;
}

.content {
  padding-top: 32px;
}

.breadcrumbs {
  font-size: 0;
}

.breadcrumbs__list {
  margin: 0;
  padding: 0;
}

.breadcrumbs__item {
  display: inline-block;
  list-style-type: none;
  margin-left: 3px;
}
.breadcrumbs__item:first-child {
  margin-left: 0;
}

.breadcrumbs__link {
  display: block;
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #333333;
  line-height: 15px;
  text-decoration: none;
}

.breadcrumbs__link--active {
  border-bottom: 1px solid #ff6600;
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #ff6600;
}

.title-main {
  margin: 0;
  margin-bottom: 10px;
  padding: 21px 0;
}

.filter__cost-wrapper {
  margin-bottom: 37px;
}

.filter-cost {
  border: 1px solid #dee1e4;
  border-radius: 5px;
  overflow: hidden;
}

.filter-cost__list {
  margin: 0;
  padding: 0;
}

.filter-cost__item {
  border-top: 1px solid #dee1e4;
  list-style-type: none;
}
.filter-cost__item:first-child {
  border-top: none;
}

.filter-cost__link {
  display: block;
  padding: 13px 28px;
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #7f7f7f;
  text-decoration: none;
  background: #fbfbfb;
}
.filter-cost__link:hover {
  background: #f8f8f8;
}

.filter-cost__link--active {
  background: #d9e5ea;
}
.filter-cost__link--active:hover {
  background: #d9e5ea;
}

.main-filter {
  background: #fbfbfb;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  overflow: hidden;
}

.main-filter__list {
  margin: 0;
  padding: 0;
}

.main-filter__item {
  list-style-type: none;
  border-top: 1px solid #dee1e4;
}
.main-filter__item:first-child {
  border-top: none;
}

.main-filter__inner {
  margin: 0;
  padding: 0 28px;
  padding-bottom: 12px;
}

.main-filter__inner-item {
  padding: 8px 0;
  list-style-type: none;
}

.main-filter__trigger {
  position: relative;
  display: block;
  padding: 10px 28px;
  font-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 16px;
  color: #333333;
  text-decoration: none;
}
.main-filter__trigger:hover:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 10px;
  border-bottom: 10px solid #7c8894;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.main-filter__trigger:hover:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 12px;
  border-bottom: 8px solid #fbfbfb;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.main-filter__trigger--closed {
  position: relative;
}
.main-filter__trigger--closed:hover {
  background: #d9e5ea;
}
.main-filter__trigger--closed:hover:before {
  content: '';
  position: absolute;
  top: 20px;
  right: 10px;
  border-top: 10px solid #353b41;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 8px solid transparent;
}
.main-filter__trigger--closed:hover:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 12px;
  border-top: 8px solid #d9e5ea;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.main-filter__inner-radio {
  position: absolute;
  left: -9999px;
}

.main-filter__inner-labelradio {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
}
.main-filter__inner-labelradio:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ff6600;
  left: 1px;
  top: 0;
}

.main-filter__inner-radio:checked ~ .main-filter__inner-labelradio:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff6600;
  left: 7px;
  top: 6px;
}
.main-filter__inner-radio:disabled ~ .main-filter__inner-labelradio:before {
  border: 2px solid #dee1e4;
}
.main-filter__inner-radio:disabled ~ .main-filter__inner-labelradio:after {
  display: none;
}

.main-filter__inner-checkbox {
  position: absolute;
  left: -9999px;
}
.main-filter__inner-checkbox:checked ~ .main-filter__inner-labelcheck:after {
  position: absolute;
  content: "";
  left: 3px;
  top: 4px;
}
.main-filter__inner-checkbox:disabled ~ .main-filter__inner-labelcheck--disabled:before {
  background: #dbdbdb;
}

.main-filter__inner-labelcheck {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
}
.main-filter__inner-labelcheck:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  border-radius: 3px;
  background: #ff6600;
}

.main-filter__inner-reset {
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #5db2fc;
}

.main-filter__inner-labelcheck:after {
  background: url('../img/icons-sc5e9180caf.png') 0 -756px no-repeat;
  height: 10px;
  width: 13px;
}

.main-filter__inner-labelcheck--disabled:after {
  background: url('../img/icons-sc5e9180caf.png') 0 -676px no-repeat;
  height: 10px;
  width: 13px;
}

.main-filter__color-list {
  margin: 0;
  padding: 0;
  margin-left: -22px;
  margin-bottom: -22px;
}

.main-filter__color-item {
  list-style-type: none;
  display: inline-block;
  margin-left: 22px;
  margin-bottom: 22px;
}

.main-filter__color-link {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid #dee1e4;
}

.main-filter__color-link--active {
  box-shadow: 0 0 1px 2px #ff6600;
}

.main-filter__color-item:nth-child(1) .main-filter__color-link {
  background: #fff;
}

.main-filter__color-item:nth-child(2) .main-filter__color-link {
  background: #ff6600;
}

.main-filter__color-item:nth-child(3) .main-filter__color-link {
  background: #cccccc;
}

.main-filter__color-item:nth-child(4) .main-filter__color-link {
  background: #000;
}

.main-filter__color-item:nth-child(5) .main-filter__color-link {
  background: #0a3153;
}

.main-filter__color-item:nth-child(6) .main-filter__color-link {
  background: #ff1800;
}

.main-filter__color-item:nth-child(7) .main-filter__color-link {
  background: #fff343;
}

.main-filter__color-item:nth-child(8) .main-filter__color-link {
  background: #fb914a;
}

.main-filter__color-item:nth-child(9) .main-filter__color-link {
  background: #92c37c;
}

.main-filter__color-item:nth-child(10) .main-filter__color-link {
  background: #40a6ff;
}

.main-filter__color-item:nth-child(11) .main-filter__color-link {
  background: #9870ad;
}

.main-filter__color-item:nth-child(12) .main-filter__color-link {
  background: #7f401d;
}

.myclass {
  max-width: 174px;
  padding: 2px 0px;
  border-color: #ff6600;
  font-size: 13px;
  color: #fff;
  text-align: center;
  box-shadow: inset 2px 2px 0 #f7c0ad;
  background: #ff6600;
}
.myclass .qtip-content {
  text-align: center;
}

.slider {
  padding-bottom: 10px;
}

.slider__inner {
  padding-top: 3px;
  margin-bottom: 19px;
}

.slider__input-wrapper {
  width: 115px;
}

.slider__input-wrapper-min {
  float: left;
}

.slider__input-wrapper-max {
  float: right;
}

.slider__pre {
  margin-right: 11px;
}

.slider__input {
  width: 79px;
  box-sizing: border-box;
  padding: 3px 10px;
  border: 1px solid #dee1e4;
}
.slider__input:focus {
  outline: none;
}

.slider__slide {
  height: 3px;
  background: #dee1e4;
}

.ui-slider .ui-slider-handle {
  height: 0;
  border: none;
}
.ui-slider .ui-slider-handle:focus {
  outline: none;
}
.ui-slider .ui-slider-handle:before {
  position: absolute;
  top: 5px;
  left: 4px;
  content: "";
  border: 4px solid #000;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.ui-slider .ui-slider-handle:after {
  top: 9px;
  left: 4px;
  position: absolute;
  content: "";
  width: 8px;
  height: 10px;
  background: #000;
}

.ui-slider-range {
  background: #ff6600;
}

.paginator {
  font-size: 0;
}

.paginator__wrapper {
  float: right;
}

.paginator__list {
  margin: 0;
  padding: 0;
}

.paginator__item {
  display: inline-block;
  margin-left: 3px;
  list-style-type: none;
}
.paginator__item:first-child {
  margin-left: none;
}

.paginator__link {
  display: block;
  padding: 3px 9px;
  font-family: "open_sansbold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 12px;
  color: #7f7f7f;
  text-decoration: none;
  border: 1px solid #dee1e4;
  border-radius: 4px;
  background: #fbfbfb;
}
.paginator__link:hover {
  border-color: #a6aeb6;
}

.paginator__link--active {
  background: #cfd4d8;
}
.paginator__link--active:hover {
  border-color: #dee1e4;
}

.info {
  padding-top: 26px;
  padding-bottom: 44px;
}

.info__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-family: "open_sansbold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 20px;
  color: #333333;
}

.info__block {
  margin-left: -36px;
  margin-bottom: -36px;
}
.info__block p {
  margin-left: 36px;
  margin-bottom: 20px;
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-indent: 36px;
  text-align: justify;
}

.socials-big {
  font-size: 0;
}

.socials-big__list {
  margin: 0;
  padding: 0;
}

.socials-big__item {
  display: inline-block;
  margin-left: 27px;
  list-style-type: none;
}
.socials-big__item:first-child {
  margin-left: 0;
}

.socials-big__link {
  display: block;
  font-size: 14px;
  text-decoration: none;
  text-indent: -9999px;
}

.socials-big__link--vkBig {
  background: url('../img/icons-sc5e9180caf.png') 0 -2322px no-repeat;
  height: 43px;
  width: 43px;
}

.socials-big__link--vkBig:hover {
  background: url('../img/icons-sc5e9180caf.png') 0 -2209px no-repeat;
  height: 43px;
  width: 43px;
}

.socials-big__link--twBig {
  background: url('../img/icons-sc5e9180caf.png') 0 -1904px no-repeat;
  height: 43px;
  width: 43px;
}

.socials-big__link--twBig:hover {
  background: url('../img/icons-sc5e9180caf.png') 0 -1791px no-repeat;
  height: 43px;
  width: 43px;
}

.socials-big__link--fbBig {
  background: url('../img/icons-sc5e9180caf.png') 0 -391px no-repeat;
  height: 43px;
  width: 43px;
}

.socials-big__link--fbBig:hover {
  background: url('../img/icons-sc5e9180caf.png') 0 -278px no-repeat;
  height: 43px;
  width: 43px;
}

.foter-links__list {
  margin: 0;
  padding: 0;
  padding-left: 161px;
  margin-bottom: -18px;
}

.foter-links__item {
  list-style-type: none;
  float: right;
  margin-left: 28px;
  margin-bottom: 18px;
}
.foter-links__item:firs-child {
  margin-left: 0;
}
.foter-links__item:nth-child(3) {
  margin-left: 100px;
}

.foter-links__link {
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #fff;
}

.copy {
  padding: 6px;
  border-top: 1px solid #494949;
}

.copy__text {
  margin: 0;
  padding: 0;
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.sort {
  margin-bottom: 20px;
  padding-left: 21px;
  border: 1px solid #d3d7db;
  border-radius: 5px;
  background: #e0e9ee;
}

.sort__select-wrapper {
  float: left;
  padding-top: 11px;
}

.sort__view-wrapper {
  float: right;
}

.sort__select-text,
.sort__view-text {
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #5d656c;
}

.sort__select-text {
  margin-right: 5px;
}

.sort__select-select:focus {
  outline: none;
}

.sort__view-text {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.sort__view-list {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.sort__view--item {
  display: inline-block;
  padding: 18px;
  border-left: 1px solid #d3d7db;
  list-style-type: none;
}

.sort__view-link {
  display: block;
  text-indent: -9999px;
}

.sort__view-link--row {
  background: url('../img/icons-sc5e9180caf.png') 0 -1094px no-repeat;
  height: 16px;
  width: 16px;
}

.sort__view-link--active.sort__view-link--row {
  background: url('../img/icons-sc5e9180caf.png') 0 -1008px no-repeat;
  height: 16px;
  width: 16px;
}

.sort__view-link--grid {
  background: url('../img/icons-sc5e9180caf.png') 0 -590px no-repeat;
  height: 16px;
  width: 16px;
}

.sort__view-link--active.sort__view-link--grid {
  background: url('../img/icons-sc5e9180caf.png') 0 -504px no-repeat;
  height: 16px;
  width: 16px;
}

.sort__view-link--list {
  background: url('../img/icons-sc5e9180caf.png') 0 -922px no-repeat;
  height: 16px;
  width: 16px;
}

.sort__view-link--active.sort__view-link--list {
  background: url('../img/icons-sc5e9180caf.png') 0 -836px no-repeat;
  height: 16px;
  width: 16px;
}

.mobile {
  position: relative;
  z-index: 2;
  border: 1px solid #dee1e4;
  border-top: none;
  background: #fbfbfb;
  cursor: default;
}
.mobile:hover {
  box-shadow: 0px 3px 10px -1px rgba(118, 118, 118, 0.75);
  position: relative;
  z-index: 3;
}

.foto {
  width: 136px;
  margin-bottom: 6px;
}

.foto__main {
  position: relative;
  width: 134px;
  height: 134px;
  margin-bottom: 15px;
  border: 1px solid #dee1e4;
  background: #fff;
}

.foto__main-img {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.foto__preview-list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.foto__preview-item {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: top;
  margin-left: 17px;
  border: 1px solid #dee1e4;
  list-style-type: none;
  background: #fff;
  cursor: pointer;
}
.foto__preview-item:first-child {
  margin-left: 0;
}
.foto__preview-item:hover {
  box-shadow: 0 0 1px 2px #ff6600;
}

.foto__preview-item-img {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 19px;
}

.article {
  font-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #333333;
}

.article__span {
  font-family: "open_sansbold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 12px;
  color: #7f7f7f;
}

.star {
  font-size: 0;
}

.stars__star {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}
.stars__star:first-child {
  margin-left: 0;
}

.stars__count {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  border-radius: 14px;
  padding: 0px 11px;
  font-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 12px;
  color: #fff;
  background: #cbc8c8;
}

.stars__star {
  background: url('../img/icons-sc5e9180caf.png') 0 -1423px no-repeat;
  height: 20px;
  width: 21px;
}

.stars__star--full {
  background: url('../img/icons-sc5e9180caf.png') 0 -1338px no-repeat;
  height: 15px;
  width: 16px;
}

.price__cost-span {
  font-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 20px;
  color: #333333;
}

.price__exist-span {
  position: relative;
  padding-left: 14px;
  font-family: "open_sansbold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 12px;
  color: #7f7f7f;
}
.price__exist-span:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  left: 0;
  top: 6px;
  background: #60ac49;
  border-radius: 50%;
}

.mobile__row {
  padding-left: 22px;
  padding-top: 19px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.mobile__row:first-child {
  border-top: 1px solid #dee1e4;
  border-radius: 5px 5px 0 0;
}
.mobile__row:last-child {
  border-radius: 0 0 5px 5px;
}
.mobile__row .mobile__foto {
  float: left;
  width: 154px;
}
.mobile__row .article {
  margin-bottom: 5px;
  width: 136px;
  text-align: center;
}
.mobile__row .article__span {
  margin-right: 8px;
}
.mobile__row .mobile__description {
  position: relative;
  float: right;
  width: 539px;
}
.mobile__row .desc {
  float: left;
  width: 390px;
  border-right: 1px solid #dee1e4;
  padding-top: 5px;
  padding-right: 15px;
}
.mobile__row .desc__title {
  margin: 0;
  padding: 0;
  margin-bottom: 18px;
  font-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 16px;
  color: #010101;
}
.mobile__row .desc__title-span {
  display: none;
}
.mobile__row .desc__text {
  min-height: 75px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #333333;
}
.mobile__row .desc__table {
  display: none;
}
.mobile__row .stars {
  margin-bottom: 42px;
}
.mobile__row .price {
  float: right;
  padding-right: 5px;
}
.mobile__row .price__cost {
  text-align: right;
  margin-bottom: 125px;
}
.mobile__row .price__apply {
  position: absolute;
  bottom: 1px;
  right: 4px;
  width: 120px;
}
.mobile__row .price__basket {
  float: right;
  margin-bottom: 4px;
}
.mobile__row .price__exist {
  clear: both;
  text-align: right;
}

.mobile__list {
  padding-left: 12px;
  padding-top: 9px;
  padding-right: 14px;
  padding-bottom: 8px;
}
.mobile__list:first-child {
  border-top: 1px solid #dee1e4;
  border-radius: 5px 5px 0 0;
}
.mobile__list:last-child {
  border-radius: 0 0 5px 5px;
}
.mobile__list .foto,
.mobile__list .desc__text,
.mobile__list .stars,
.mobile__list .desc__table {
  display: none;
}
.mobile__list .article {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mobile__list .article__span {
  margin-right: 4px;
  line-height: 33px;
}
.mobile__list .desc__title {
  margin: 0;
  padding: 0;
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 33px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.mobile__list .desc__title-span {
  margin-right: 4px;
}
.mobile__list .mobile__foto {
  float: left;
  width: 115px;
}
.mobile__list .mobile__description {
  float: right;
  width: 600px;
}
.mobile__list .desc {
  float: left;
  width: 280px;
}
.mobile__list .price {
  float: right;
  width: 320px;
}
.mobile__list .price__cost {
  float: left;
  width: 91px;
  text-align: right;
}
.mobile__list .price__cost-span {
  font-size: 18px;
  line-height: 33px;
}
.mobile__list .price__apply {
  float: right;
  width: 214px;
}
.mobile__list .price__basket {
  float: right;
}
.mobile__list .price__exist {
  float: left;
}
.mobile__list .price__exist-span {
  line-height: 33px;
}

.mobile__grid {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  margin-left: 18px;
  margin-bottom: 19px;
  width: 235px;
  padding: 19px 10px;
  border: 1px solid #dee1e4;
  border-radius: 5px;
}
.mobile__grid:nth-child(3n-2) {
  margin-left: 0;
}
.mobile__grid .foto {
  margin: 0 auto;
  margin-bottom: 13px;
}
.mobile__grid .desc__title-span {
  display: none;
}
.mobile__grid .desc__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0 20px;
  font-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #000;
  text-align: center;
}
.mobile__grid .article {
  display: none;
}
.mobile__grid .desc__text {
  display: none;
}
.mobile__grid .desc__table {
  margin-bottom: 14px;
}
.mobile__grid .desc__table-tr {
  font-family: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  color: #333333;
}
.mobile__grid .desc__table-tr:nth-child(2n-1) {
  background: #e4e2e2;
}
.mobile__grid .desc__table-td {
  box-sizing: border-box;
}
.mobile__grid .desc__table-td:nth-child(3n-2) {
  text-align: left;
  padding-left: 2px;
}
.mobile__grid .desc__table-td:nth-child(2n) {
  text-align: right;
  padding-right: 2px;
}
.mobile__grid .stars {
  text-align: center;
  margin-bottom: 2px;
}
.mobile__grid .price__cost {
  text-align: center;
  margin-bottom: 2px;
}
.mobile__grid .price__basket {
  float: right;
}
.mobile__grid .price__exist {
  float: left;
  width: 105px;
  padding-right: 3px;
  box-sizing: border-box;
  text-align: right;
}
.mobile__grid .price__exist-span {
  line-height: 33px;
}
.mobile__grid .price__exist-span:before {
  left: 0;
}

.goods__inner {
  font-size: 0;
  margin-bottom: 50px;
}

.select2-selection__arrow {
  position: relative;
}
.select2-selection__arrow b {
  display: none;
}
.select2-selection__arrow:before {
  content: '';
  position: absolute;
  top: 10px;
  right: 3px;
  border-top: 7px solid #818181;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.select2-selection__arrow:after {
  content: '';
  position: absolute;
  top: 10px;
  right: 5px;
  border-top: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.select2-container--open .select2-selection__arrow:before {
  content: '';
  position: absolute;
  top: 2px;
  right: 3px;
  border-bottom: 7px solid #9b9b9b;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid transparent;
}
.select2-container--open .select2-selection__arrow:after {
  content: '';
  position: absolute;
  top: 4px;
  right: 5px;
  border-bottom: 5px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid transparent;
}
