/*dark: #727070,
dark-lighten: #9c9c9c,
dark-light: #646464,
dark-grey: #a9a7a7,
dark-dark: #7b7979,
//
white-light: #fbfbfb,
white-dark: #f7f6f6,
white-lighten: #f0f0f0,
//
pink-light: #f2e7d0,
//
grey-hover: #e4e3e3,
grey-hover-dark: #bebdbd,
gray-light-extra: #eae9e9,
gray-menu: #727070,
light-gray: #737373,
grey-extra-light: #d6d5d3,
grey-title: #eeedec,
grey-bg: #f1f0ef,
grey-img-inner: #f5f4f3,
grey-img-wrap: #cdcbca,
grey-skill: #e0e0e0,
grey-enter: #9c9c9c,
grey-copy: #ededed,
gray-work: #bebebe,
gray-bg-work: #f2f2f2,
grey-work-bg: #f6f5f4,
brown-light: #ddce9b,
brown-lighten: #f4ce82,
brown-darken: #dfb866,
brown-dark: #e7bf6f,
brown-darken-dark: #cfa44f,
brown-menu: #d0982c,
brown-extra-dark: #cfa44f,
//
green-hover-light: #7de8cd,
green-hover-dark: #3fb79a,
green-dark: #3da98e,
green-light: #66dbbe,
green-darken: #1e7465,
green-skill: #1e7465,*/
.mac {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mac input, .mac textarea, .mac button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
button:focus,
a:focus {
  outline: 0;
}

.btn {
  text-decoration: none;
}

.btn {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.shown {
  display: block !important;
}

.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: url("../fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url("../fonts/opensans-light-webfont.eot");
  src: url("../fonts/opensans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff"), url("../fonts/opensans-light-webfont.ttf") format("truetype"), url("../fonts/opensans-light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
.browsehappy {
  margin: 0;
  padding: 0;
  background: #ffe0cc;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
}

html {
  width: 100%;
  height: 100%;
  font-size: 100.01%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-footer__inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  min-width: 980px;
  background: #f00;
}
.wrapper:after {
  display: block;
  position: relative;
  height: 50px;
}

footer {
  position: relative;
  margin-top: -50px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.col {
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}

.left-col {
  float: left;
  width: 310px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.right-col {
  float: left;
  width: 650px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-footer {
  background: #000;
}

.page-footer__inner {
  background: #0f0;
  height: 100%;
}

.socials__link {
  display: block;
  text-indent: -9999px;
}
