.page-header {
  background: #fff;
} 
.page-header__inner {
  @extend %container;
}
.page-header__top {
  padding-top: 20px;
  padding-bottom: 25px;
  border-bottom: 2px solid map-get($clrs, grey-border);
}
.page-header__socials-wrapper {
  float: left;
  width: 300px;
}
.page-header__contacts-wrapper {
  float: right;
  width: 474px;
}
.page-header__bottom {
  background: map-get($clrs, grey-light);
  padding-top: 30px;
  padding-bottom: 28px;;
}
.page-header__logo-wrapper,
.page-header__search-wrapper,
.page-header__links-wrapper {
  float: left;
}
.page-header__logo-wrapper {
  width: 295px;
}
.page-header__search-wrapper {
  width: 367px;
}
.page-header__links-wrapper {
  box-sizing: border-box;
  width: 438px;
  padding-left: 49px;
  padding-top: 7px;
}