$strict-normalize: true;
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
$inline-block-alignment: top;


// font fase
$font-base-family: "open_sanssemibold", Arial, Helvetica, Garuda, sans-serif;
$font-family-regular: "open_sansregular", Arial, Helvetica, Garuda, sans-serif;
$font-family-light: "open_sanslight", Arial, Helvetica, Garuda, sans-serif;
$font-family-bold: "open_sansbold", Arial, Helvetica, Garuda, sans-serif;


// font size
$font-base-size: 14px;
$font-size-extra-small: 9px;
$font-size-small: 12px;
$font-size-regular-samllest: 13px;
$font-size-regular: 20px;
$font-size-big: 24px;


//font style
$font-style-italic: italic;


// font width
$weight-normal: 400;
$weight-semi-bold: 600;
$weight-bold: 700;

// paths
$dir: "../img";


// colors
$clrs: ( 
  white: #fff,
  white-light: #fbfbfb,
  white-dark: #f7f6f6,
  white-lighten: #f0f0f0,
  //
  pink-light: #f2e7d0,
  //
  grey: #bababa,
  grey-lighten: #f7f7f7,
  grey-light: #e5e3e2,
  grey-hover: #e4e3e3,
  grey-hover-dark: #bebdbd,
  gray-light-extra: #eae9e9,
  gray-menu: #727070,
  light-gray: #737373,
  grey-extra-light: #d6d5d3,
  grey-title: #eeedec,
  grey-bg: #f1f0ef,
  grey-img-inner: #f5f4f3,
  grey-img-wrap: #cdcbca,
  grey-skill: #e0e0e0,
  grey-enter: #9c9c9c,
  grey-copy: #ededed,
  gray-work: #bebebe,
  gray-bg-work: #f2f2f2,
  grey-work-bg: #f6f5f4,
  //
  dark: #727070,
  dark-lighten: #9c9c9c,
  dark-light: #646464,
  dark-grey: #a9a7a7,
  dark-dark: #7b7979,
  //
  brown-light: #ddce9b,
  brown-lighten: #f4ce82,
  brown-darken: #dfb866,
  brown-dark: #e7bf6f,
  brown-darken-dark: #cfa44f,
  brown-menu: #d0982c,
  brown-extra-dark: #cfa44f,
  //
  green-hover-light: #7de8cd,
  green-hover-dark: #3fb79a,
  green-dark: #3da98e,
  green-light: #66dbbe,
  green-darken: #1e7465,
  green-skill: #1e7465
);



