footer.page-footer 
  .page-footer__inner
    .row
      .small-col
        .page-footer__logo-wrapper
          - var footer= true, header= false
            include _logo
      .big-col
        .row
          .page-footer__social-wrapper
            include _socials-big
        .page-footer__foter-links-wrapper    
          include _foter-links
  include _copy
    