.logo
  a(href="#").logo__link
    - if (header)
        img(src="img/logo--orange.png" alt="cooltech").logo__img

    - if (footer)
        img(src="img/logo--white.png" alt="cooltech").logo__img

 