.search
  form(action="#" method="GET").search__form
    input(type="search" placeholder="Что будем искать").search__input.search__search
    input(type="submit" value="Найти").search__input.search__submit
