extends ../_templates/main

block title  
  | Main page
   
block content
  include ../_blocks/_breadcrumbs
  include ../_blocks/_title-main  
  
  .row
    .small-col
      aside.filter
        .filter__cost-wrapper
          include ../_blocks/_filter-cost 
        .filter__main-filter-wrapper
          include ../_blocks/_main-filter
        
    .big-col
      .goods
        | right col
      .paginator 
  .info