extends ../_templates/main

block title 
  | Main page
  
block content
  .breadcrumbs
  .title 
  .row
    .small-col
      aside.filter
    .big-col
      .goods
      .paginator
  .info