// форма добавления проекта
.form {
  &__label {
    position: relative;
    display: block;
    margin-bottom: 9px;
    font-family: $font-base-family;
    font-size: $font-base-size;
    color: #727070;
  }
  &__checkbox-label {
    position: relative;
    font-family: $font-base-family;
    font-size: $font-base-size;
    line-height: 15px;
    color: #727070;
  }
  &__checkbox { 
    &:enabled,
    &:disabled {
      display: none;
    }
    &:enabled + .form__control-indicator,
    &:disabled + .form__control-indicator {
      display: inline-block;
      vertical-align: top;
      width: 15px;
      height: 14px;
      margin-right: 9px;
      border-top: 1px solid #d1d0d0;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #e5e4e3;
      border-radius: 5px;
      background: linear-gradient(to bottom, #ffffff, #f4f2f2);
    }
    &:checked + .form__control-indicator {
      background-image: url("../img/spritesheet.png"), linear-gradient(to bottom, #ffffff, #f4f2f2);
      background-repeat: no-repeat;
      background-position:  -50px -105px, 100% 100%;
    }
  }
  &__input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 6px;
    padding: 11px 8px;
    border: 1px solid #d6d5d3;
    font-family: $font-family-light;
    font-size: $font-size-small;
    border-radius: 4px;
    background: linear-gradient(to bottom, #fbfcfd, #f4f3f3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfcfd', endColorstr='#f4f3f3', GradientType=0);
    &--textarea {
      resize: none;
    }
    &:focus {
      background: linear-gradient(to bottom, darken(#fbfcfd, 1%), darken(#f4f3f3, 3%));
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f3f4', endColorstr='#e6e6e6', GradientType=0);
    }
    &-file {
      position: relative;
      display: block;
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 6px;
      padding: 11px 8px;
      padding-right: 60px;
      border: 1px solid #d6d5d3;
      border-radius: 4px;
      font-family: $font-family-light;
      font-size: $font-size-small;
      color: #aaa;
      text-overflow: ellipsis;
      background: linear-gradient(to bottom, #fbfcfd, #f4f3f3);
      overflow: hidden;
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfcfd', endColorstr='#f4f3f3', GradientType=0);
      cursor: pointer;
      &:before {
        position: absolute;
        top: -1px;
        right: -1px;
        content: "";
        height: 100%;
        width: 52px;
        border: 1px solid #d6d5d3;
        border-radius: 0 4px 4px 0;
        background-image: url("../img/spritesheet.png"), linear-gradient( #fcfbfa, #e9e8e8);
        background-position: 2px -135px, center center;
        background-repeat: no-repeat, no-repeat;
      }
      
    }
    &:focus {
      outline: none;
    }
  }
  &__file {
    //display: none;
    position: absolute;
    top: 0;
    left: -9999px;
  }
  &__btn-wrapper {
    padding-top: 5px;
    font-size: 0;
    text-align: center;
  }
  &__error {
    border-color: #dfac98;
  } 
  &__success {
    border-color: #71C176;
  }
}


// окно ошибки
.error {
  position: relative;
  display: none;
  margin-bottom: 6px;
  padding: 4px 9px;
  border: 1px solid #cb6945;
  border-radius: 4px;
  font-family: $font-family-regular;
  color: #cb6945;
  background: #e9c8bc;
  &-bold {
    font-family: $font-family-bold;
    display: block;
    font-size: 16px;
  }
  &-close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 10px;
    height: 10px;
    background: url("../img/spritesheet.png") no-repeat -53px -535px;
    cursor: pointer;
  }
  &--visible {
  display: block;
  }
}

// окно успешного добавления проекта
.success {
  margin-bottom: 6px;
  padding: 4px 9px;
  border: 1px solid #49bb7b;
  border-radius: 4px;
  font-family: $font-family-regular;
  color: #49bb7b;
  background: #bde2cc;
  &-bold {
    font-family: $font-family-bold;
    display: block;
    font-size: 16px;
  }
}