.info {
  padding-top: 26px;
  padding-bottom: 44px;
}

.info__title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-family: $font-family-bold;
  font-size: $font-size-regular-big;
  color: map-get($clrs, grey);
}

$columnMargin: 36px;
.info__block {
  margin-left: -$columnMargin;
  margin-bottom: -$columnMargin;
}

p {
  margin-left: $columnMargin;
  margin-bottom: 20px;
  font-family: $font-family-regular;
  font-size: $font-base-size;
  line-height: $font-size-regular-big;
  color: map-get($clrs, grey);
  text-indent: 36px;
  text-align: justify;
}