.main-filter {
  background: map-get($clrs, white-dark);
  border: 1px solid map-get($clrs, grey-border);
  border-radius: 5px;
  overflow: hidden;
}

.main-filter__list {
  margin: 0;
  padding: 0;
}

.main-filter__item {
  list-style-type: none;
  border-top: 1px solid map-get($clrs, grey-border);
  &:first-child {
    border-top: none;
  }
}

.main-filter__inner {
  margin: 0;
  padding: 0 28px;
  padding-bottom: 12px;
  //display: none;
}

.main-filter__inner--close {
  //height: 0;
  //padding: 0;
  //overflow: hidden;
}

.main-filter__inner-item {
  padding: 8px 0;
  list-style-type: none;
}

.main-filter__trigger {
  position: relative;
  display: block;
  padding: 10px 28px;
  font-family: $font-family-semibold;
  font-size: $font-size-regular-small;
  color: map-get($clrs, grey);
  text-decoration: none;
  &:hover {
    &:before {
      content: '';
      position: absolute;
      top: 18px;
      right: 10px;
      border-bottom: 10px solid darken(map-get($clrs, grey-border), 35%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    &:after {
      content: '';
      position: absolute;
      top: 20px;
      right: 12px;
      border-bottom: 8px solid map-get($clrs, white-dark);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
  }
}

.main-filter__trigger--closed {
  position: relative;
  //background: map-get($clrs, blue-light);

  &:hover {
    background: map-get($clrs, blue-light);
    &:before {
      content: '';
      position: absolute;
      top: 20px;
      right: 10px;
      border-top: 10px solid darken(map-get($clrs, grey-border), 65%);
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 8px solid transparent;
    }
    &:after {
      content: '';
      position: absolute;
      top: 20px;
      right: 12px;
      border-top: 8px solid map-get($clrs, blue-light);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
  }
}

.main-filter__inner-radio {
  position: absolute;
  left: -9999px;
}

.main-filter__inner-labelradio {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  &:before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid map-get($clrs, orange);
    left: 1px;
    top: 0;
    //transform: translateY(-50%);
  }
}

.main-filter__inner-radio {
  &:checked ~ .main-filter__inner-labelradio {
    &:after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: map-get($clrs, orange);
      left: 7px;
      top: 6px;
      //transform: translateY(-50%);
    }
  }
  &:disabled ~ .main-filter__inner-labelradio {
    &:before {
      border: 2px solid map-get($clrs, grey-border);
    }
    &:after {
      display: none;
    }
  }
}

.main-filter__inner-checkbox {
  position: absolute;
  left: -9999px;
  &:checked ~ .main-filter__inner-labelcheck {
    &:after {
      position: absolute;
      content: "";
      left: 3px;
      top: 4px;
      //width: 20px;
      //height: 20px;
      //background: #0f0;
    }
  }
  &:disabled ~ .main-filter__inner-labelcheck--disabled {
    &:before {
      background: darken(map-get($clrs, grey-light), 10%);
    }
    //&:after {
    //  position: absolute;
    //  content: "";
    //  //width: 20px;
    //  //height: 20px;
    //  //background: #00f;
    //  left: 3px;
    //  top: 4px;
    //}
  }
}

.main-filter__inner-labelcheck {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  &:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    border-radius: 3px;
    background: map-get($clrs, orange);
  }
}

.main-filter__inner-reset {
  font-family: $font-family-regular;
  font-size: $font-base-size;
  line-height: $font-base-size;
  color: map-get($clrs, blue);
}

//// генерация спрайтов
$cheks: labelcheck,
labelcheck--disabled;
$icons-map: sprite-map('icons/*.png', $spacing: 70px, $layout: vertical);
@each $check in $cheks {
  .main-filter__inner-#{$check}:after {
    @include get-sprite($icons-map, $check);
  }
}

.main-filter__color-list {
  margin: 0;
  padding: 0;
  margin-left: -22px;
  margin-bottom: -22px;
}

.main-filter__color-item {
  list-style-type: none;
  display: inline-block;
  margin-left: 22px;
  margin-bottom: 22px;
}

.main-filter__color-link {
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid map-get($clrs, grey-border);
  &:hover {
    //box-shadow: 0 0 1px 2px map-get($clrs, orange);
  }
}
.main-filter__color-link--active {
  box-shadow: 0 0 1px 2px map-get($clrs, orange);
}

// генерация цветов
$colors: 
map-get($clrs, white),
map-get($clrs, orange),
map-get($clrs, grey-choice),
map-get($clrs, black),
map-get($clrs, blue-dark),
map-get($clrs, red),
map-get($clrs, yellow),
map-get($clrs, orange-lighten),
map-get($clrs, green),
map-get($clrs, blue-lighten),
map-get($clrs, violet),
map-get($clrs, brown);
$countColor: 0;
@each $color in $colors {
  $countColor: $countColor + 1;
  .main-filter__color-item:nth-child(#{$countColor}) {
    .main-filter__color-link {
      background: $color;
    }
  }
}